
@font-face {
    font-family: sf;
    src: url(assets/fonts/SF-UI-Display-Regular.otf);
    src: url(assets/fonts/SF-UI-Display-Black.otf);
    src: url(assets/fonts/SF-UI-Text-Regular.otf);
    src: url(assets/fonts/SF-Compact-Text-Semibold.otf)
  }

body {
    padding: 0px;
    margin: 0px;
    /*font-family: sf;*/
    font-family: sans-serif;
}


#date-time {
    float: right;
}

/*Main layout*/

#apps {
    float: left;
}

#app-canvas {
    background-color: aquamarine;
    
    /*overflow-y: auto;     ==> Hidden is needed for webbrowser*/
    overflow-y: hidden;

    flex-grow: 1;
    /*flex: 0 1 auto;*/
}

#system-bar {
    background-color: #777;
    color: white;

    height: 1.5em;
    font-weight: bold;
}
#screen {
    height: 100%; 
    width: 100%;

    display: flex;
    flex-direction: column;

    background-color: bisque;
}


[contenteditable] {
    outline: 0px solid transparent;
}
#search-center{
    position:fixed;
    top: 4em; 
    width: 30em;
    height: 180px;
    left: 50%;
    transform: translateX(-50%);
}

html, body {
    height: 100%;
    cursor: default;
}

#search-center {
    display: none-;
}

#search-categories {
    /* background-color: #ddd;
    color: #333; */

    background-color: #444; 
    color:#ddd;

    font-size: small;

    border-radius: 3px 3px 0px 0px;
    /*border-width: 1px 1px 0px 1px;
    border-color: #bbb;
    border-style: solid;*/

    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    width: 100%;
}

.search-category-item {
    flex-grow: 1;
    text-align: center;

    color: #aaa;
    
}

.item-start {
    border-radius: 3px 0px 0px 0px;
}
.selected {
    font-weight: bold;
    color: #ddd;
    background-color: #333;
}
/* .selected {
    background-color: #333; 
    color:#ddd;
} */

#search-field {
    cursor: initial;
    background-color: #333; 
    color:#ddd; 
    font-weight: bold;
    font-size: large;

    border-radius: 0px 0px 3px 3px;

    /*
    border-width: 0px 1px 1px 1px;
    border-color: #bbb;
    border-style: solid; */

    padding: 3px 5px 3px 5px;
}

#search-results {
    background-color: #ddd;
    color: #333;
    margin: 0px 2px 0px 2px;

    border-color: #bbb;
    border-style: solid;
    border-width: 0px 1px 1px 1px;
    border-radius: 0px 0px 3px 3px;
}

